* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
    font-family: "Roboto", sans-serif;
    color: hsl(234, 29%, 20%);
}

h1{
    font-size: 56px;
    margin-bottom: 24px;
    font-weight: 700;
    text-shadow: 0 3px 8px hsl(231, 7%, 60%);
}

p{
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;

}

main{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 641px;
    width: 928px;
    background-color: white;
    border-radius: 36px;
}

#container-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.sub-container-left{
    height: 446px;
    width: 376px;
}
.paragraph{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
    height: 24px;

}
.icon-check {
    width: 21px;
}

.paragraph p{ 
    margin-left: 8px;
    width: 90%;
}

#container-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.image-box{
    height: 593px;
    width: 400px;
}

form{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin-top: 30px;
}

label{
    font-size: 12px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);

}

input{
    display: flex;
    height: 56px;
    width: 94%;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 10px;
    margin:12px 0 12px 0;
    padding-left: 6%;
    cursor: pointer;
}

button{
    margin-top: 12px;
    height: 56px;
    width: 376px;
    background-color:  hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(90deg, hsl(4, 100%, 68%), hsl(4, 100%, 67%), hsl(4, 100%, 62%));
    box-shadow: rgb(255, 98, 87, 1) 0px 8px 24px;
}

/* Invalid email style */
/* .email-invalid{
    display: none;
    height: 56px;
    width: 94%;
    border: 1px solid hsl(4, 100%, 67%);
    border-radius: 10px;
    margin:12px 0 12px 0;
    padding-left: 6%;
    background-color: rgba(255, 97, 85, 0.15)
} */

#thanks-for-subscribing{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 520px;
    width: 504px;
    border-radius: 36px;
    background-color: white;
}

.box-thanks-for-subscribing{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    width: 376px;
}